$secondary-color: white !default
$header-color: #dd3a36 !default
$current-menu-item-background: rgba(darken($header-color, 15%), 0.94) !default
$hover-menu-item-background: rgba(darken($header-color, 15%), 0.94) !default
$menu-color: #fff !default

@import "active_admin/mixins"
@import "mixins"
@import "active_admin/extra/partials"

+global-reset

body.active_admin

  @import "wrap"
  @import "form"

  #header
    +gradient(lighten($header-color, 3%), darken($header-color, 8%))
    border-bottom: 1px solid darken($header-color, 15%)

    h1
      color: $menu-color

    a, a:link
      color: $menu-color

    #utility_nav
      color: $menu-color

@import "logged-out"
